:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #7de8ff;
    --secundario: #202b3a;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/* Hack para utilizar rem con medida de 10px por unidad 
   1rem = 10px */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}